.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Все комментарии приведённые ниже сделаны для самостоятельного контроля :-) */
/*шапка*/

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  margin: auto;
  background-color: #f2f2f2;
  position: relative;
  /* выше установили ограничения для секции - комментарий задания */
}

/* Логотип*/

.block__logo {
  margin: auto;
}

.logo__place_header {
  width: 228px;
  height: 32px;
  margin-top: 30px;
  margin-left: 64px;
  position: absolute;
  display: block;
}

/* блок header со всеми элементами */

.header__title {
  color: #000000;
  margin: auto;
  margin-left: 64px;
  width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__main-illustration-img {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

/* секция description со всеми элементами */

.description {
  /*   border: dotted 3px red;     */
  margin-top: 100px;
  margin-bottom: 100px;
}

/* блок таблиц */

.two_columns {
  margin: auto;
  width: 80%;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.two_columns__brief {
  max-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

/* блок текста */

.two_columns__main-text {
  max-width: 80%;
  min-width: 784px;
}

.two_columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two_columns__center-paragraph {
  margin: 30px 0;
}

.two_columns__paragraph_span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* секция digits*/

.digits {
  /*сделал блок флекс - заг, подзаг,табл*/
  /*  border: solid 1px red;    */
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

/*заголовок*/

.section__title {
  /*тег заголовков всё меняет, очень сильно расширяет блок???*/
  width: 60%;
  margin: auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

/*подзаголовок*/

.section__subtitle {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/*таблица*/

.table {
  /*таблица выравнивание по центру*/
  width: 1100px;
  margin: auto;
}

/* блоки в таблице; сетка*/

.table_cell {
  /* border: solid 5px yellow; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* плитки*/

.table_heading {
  width: 250px;
  margin-top: 60px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table_text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* БЛОК Feynman */

.feynman {
  min-height: 890px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* заг, подзаг */

.feynman__title {
  width: 648px;
  margin: auto;
  margin-bottom: 0;
  display: flex;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin-top: 100px;
  position: relative;
  z-index: 1;
}

.feynman__subtitle {
  display: flex;
  align-self: flex-start;
  margin: auto;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: relative;
  z-index: 1;
}

/*картинка*/

.feynman__pic {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

/*ссылка*/
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 1;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}


/* БЛОК Kaufman */

.kaufman {
  /*сделал блок флекс - заг, подзаг,табл*/
  display: flex;
  flex-direction: column;
  /*margin-bottom: 90px; */
  background-color: #1f1f1f;
  color: #FFFFFF;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

/*заголовок*/

.section_title__theme_dark {
  width: 60%;
  margin: auto;
  margin-top: 90px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

/*подзаголовок*/

.section_subtitle__theme_dark {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/*таблица*/

.table__theme_dark {
  /*таблица выравнивание по центру*/
  width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 90px;
}


.table__theme_dark_heading {
  width: 200px;
  margin-top: 80px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__theme_dark_text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  z-index: -1;
  background-image: url(../images/kaufman-triangle.svg);
}

/* FOOTER */

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: #FFFFFF;
  /* border: solid 2px red; */
  display: flex;
}

/* колонки */

.footer__columns {
  margin: auto;
  margin-top: 60px;
  margin-bottom: 40px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content-copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo__place_footer {
  width: 228px;
  height: 32px;
  display: flex;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

/* ссылки */


.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 20px;
}

.footer__column_links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.footer__social-icon {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  width: 16px;
  height: 16px;
}

.footer__column_link {
  margin-top: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #FFFFFF;
}

.header__link:hover {
  background-color: #B0E0E6;
}

.feynman__link:hover {
  background-color: #B0E0E6;
}

.footer__column_link:hover {
  background-color: #A9A9A9;
}
